<!DOCTYPE html>
<html>
<head>
<!-- 
== http://anh.cs.luc.edu/python/hands-on/3.1/handsonHtml/webtemplates.html 
== http://kagerato.net/articles/software/libraries/jinja-quickstart.html
== http://jinja.pocoo.org/docs/
== Learned this kung-fu from above locations
-->
<link rel='stylesheet' type='text/css' href='css/flatly.css'>
<title>{{ title }}</title>
<style>
.text-info.small { font-size: smaller; opacity:0.9; color: #666 !important; }
/* ul li .lead {font-style:italic;font-family:serif;font-size:larger;float:left;}
*/
</style>
</head>
<body>
<div class='container'>
    <h1>{{ title }}</h1>
    <div class='row'>
   {% for key in list %}
   <div id='{{ key }}' class='col-md-4'>
        <h2>{{ key }}</h2>
        <ul class='list-unstyled'>
        {% for item in list[key] %}
            <li><span class='lead'>{{ loop.index }}</span> <span class=lead>{{ item.name }}</span><br>
                <a class='btn btn-xs btn-default' href='{{ item.url }}' title='Download {{ item.name|escape }}'>Download <i class='download'></i></a>
                <span class='text-muted'>
                    <table class='table table-striped table-condensed table-bordered'><tbody>
                    {% for ki in item.info %}
                        <tr class='text-info small'>
                            <td><small><strong>{{ ki|capitalize }}:</strong></small></td>
                            <td><small>{{- item.info[ki] -}}</small></td>
                        </tr>
                    {% endfor %}
                    </tbody></table>
                </span>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endfor %} 
    </div>
</div>
</body>
</html>
